<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
</head>
<body>
    <form method="post" id="myForm">
        <input type="text" name="first_name" placeholder="first_name">
        <input type="text" name="last_name" placeholder="last_name">
        <input type="email" name="email" placeholder="email">

        <input type="submit">
    </form>
    
    <h2><a href="/logout">logout</a></h2>

    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            fetch('/api/students', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
        });
    </script>
</body>
</html>